<section class="nav-left bg-accent">
  <nav>
    <a
      routerLink="/"
      routerLinkActive
      #home="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      (mouseenter)="navHoverIndex = 0"
      (mouseleave)="navHoverIndex = -1">
      <span
        class="icon"
        [ngClass]="{
          'bg-accent-hover': navHoverIndex === 0,
          'bg-primary': home.isActive
        }">
        <img src="assets/images/app/logo-white.svg" alt="" />
      </span>
      <p class="label" [ngClass]="{ 'font-active': home.isActive }">Home</p>
    </a>
    <a
      routerLink="/start"
      routerLinkActive
      #start="routerLinkActive"
      (mouseenter)="navHoverIndex = 1"
      (mouseleave)="navHoverIndex = -1">
      <span
        class="icon"
        [ngClass]="{
          'bg-accent-hover': navHoverIndex === 1,
          'bg-primary': start.isActive
        }">
        <mat-icon class="temp">apps</mat-icon>
      </span>
      <p class="label" [ngClass]="{ 'font-active': start.isActive }">
        Get stared
      </p>
    </a>
    <a
      routerLink="/dev"
      routerLinkActive
      #dev="routerLinkActive"
      (mouseenter)="navHoverIndex = 2"
      (mouseleave)="navHoverIndex = -1">
      <span
        class="icon"
        [ngClass]="{
          'bg-accent-hover': navHoverIndex === 2,
          'bg-primary': dev.isActive
        }">
        <mat-icon class="temp">code</mat-icon>
      </span>
      <p class="label" [ngClass]="{ 'font-active': dev.isActive }">Develop</p>
    </a>
    <a
      routerLink="/team"
      routerLinkActive
      #team="routerLinkActive"
      (mouseenter)="navHoverIndex = 3"
      (mouseleave)="navHoverIndex = -1">
      <span
        class="icon"
        [ngClass]="{
          'bg-accent-hover': navHoverIndex === 3,
          'bg-primary': team.isActive
        }">
        <mat-icon>group_work</mat-icon>
      </span>
      <p class="label" [ngClass]="{ 'font-active': team.isActive }">Team</p>
    </a>
  </nav>
  <div class="theme"></div>
</section>
