/* You can add global styles to this file, and also import other style files */
@import './styles/themes.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  display: block;
  height: 100%;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/google-icon.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
